---
---

<center><h1> Project: Extract Transform Load.</h1></center>

---

In this project, we will see a demo of a `ETL pipeline`. Suppose we have a database name `website` and it has two different tables.
  1. users
  2. signup_summary
    
---

In the `users` table, we have the following columns:

- **`user_id`**    : Unique string for each of the user. <br>
- **`user_email`** : Email ID of the user which was used for the signup. <br>
- **`user_name`**  : Name of the user <br>
- **`source`**     : Signup source of the user <br> 
- **`is_prime`**   : Whether the user signed up for the free version or the prime version <br>
- **`signup_time`** : Signup time of the user. <br>

----

----


Now, we have a jupyter notebook `Generate Data` that will randomly insert data into this table.


---
---

In [1]:
# importing the required libraries
import time
import random
import uuid
import pandas as pd
import mysql.connector as mysql
import logging

In [2]:
def generate_new_row():
    
    user_id = str(uuid.uuid4())
    user_email = str(''.join(random.choices('abcireubgurgbe',k=5))) + str(random.randint(1000,99999)) + "@gmil.com"
    user_name  = str(''.join(random.choices("ABC",k=1))) + str(''.join(random.choices("ibruegbieiurgeriuger", k = 4)))
    source     = random.choice(['LinkedIn', 'Email', 'Instagram', 'Facebook', 'Organic', "Not Available"])
    is_prime   = random.choice([1, 0])
    signup_time = str(pd.datetime.now())
    
    return user_id, user_email, user_name,  source, is_prime, signup_time

In [3]:
db = mysql.connect(
    host = "localhost",
    user = "lakshay",  ## Enter your user name here
    password = "ABC@123", ## Enter your password here
    database = "website", ## Enter the database name here
    auth_plugin = "mysql_native_password",
)

cursor = db.cursor()

In [ ]:
while True:
    command = "INSERT INTO users values" + str(generate_new_row())
    cursor.execute(command)
    db.commit()
    time.sleep(random.random())

In [ ]:
## create table transaction_summary(`Air Conditioner` int, Microwave int, Refrigrator int, LG int, Haier int, Samsung int, Whirlpool int, `sales_from_Air Conditioner` int, sales_from_Microwave int, sales_from_Refrigrator int, sales_from_LG int, sales_from_Haier int, sales_from_Samsung int, sales_from_Whirlpool int);