In [14]:
# importing the required libraries
import time
import random
import uuid
import pandas as pd
import mysql.connector as mysql

In [15]:
products_table = pd.read_csv('dataset/product_table.csv')

In [6]:
db = mysql.connect(
    host = "localhost",
    user = "lakshay",  ## Enter your user name here
    password = "ABC@123", ## Enter your password here
    database = "website", ## Enter the database name here
    auth_plugin = "mysql_native_password",
)

cursor = db.cursor()

In [31]:
def generate_new_transaction(users):
    
    transaction_id = "TI-"+str(uuid.uuid4())
    user_id = users[random.randint(0,len(users))][0]
    
    random_product = random.randint(0, products_table.shape[0])
    product_id = products_table.iloc[random_product]['product_id']
    transaction_time = str(pd.datetime.now())
    price = products_table.iloc[random_product]['product_price']
    
    
    return transaction_id, user_id, product_id, transaction_time, price

In [32]:
generate_new_transaction(users)

('TI-7390e7ed-3583-4679-8547-8cad625c4758',
 '7e2c7546-741c-4a37-bcf6-ecf565f6e9b7',
 'P1001-DD142101-D5B6-47C3-B2FC-BDF9DEC20284',
 '2021-09-10 17:53:59.026170',
 35360)

In [37]:
while True:

    command = "SELECT user_id FROM users"
    cursor.execute(command)
    users = cursor.fetchall() 
    
    for i in range(25):
        command = "INSERT INTO transaction values" + str(generate_new_transaction(users))
        cursor.execute(command)
        db.commit()
        time.sleep(random.randint(0,4))

KeyboardInterrupt:

In [38]:
####


"""


refund

ticket_id
user_name
transaction_id
transaction amount
status  [ NEW, RESOLVED, IN_PROGRESS, INVALID ]


"""

create table refund_detail(ticket_id varchar(50), user_name varchar(20), transaction_id varchar(20), transaction_amount int, refund_status varchar(15));

'\n\nrefund\n\nticket_id\nuser_name\ntransaction_id\ntransaction amount\nstatus  [ NEW, RESOLVED, IN_PROGRESS, INVALID ]\n\n'